html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#random-image {
    max-width: 100%;
    max-height: 80vh;
    margin-bottom: 1rem;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}